/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2014, 8:55:40 AM
    Author     : pak2013
*/

@import "../reindeer/reindeer.scss";

@mixin mytheme {
  @include reindeer;

  /* An actual theme rule */
  .v-button {
    color: blue;
  }
  .v-table-row.v-table-row-highlight-orange,
.v-table-row-odd.v-table-row-highlight-orange {
background-color: #ff6600;
}
  .v-table-row.v-table-row-highlight-green,
.v-table-row-odd.v-table-row-highlight-green {
background-color: #00ff00;
}

.v-table-row.v-table-row-highlight-red,
.v-table-row-odd.v-table-row-highlight-red {
background-color: #ff0000;
}

.panelborder .v-panel-content {
    border: 1px solid #FF7D00;
}
.v-label-maintitle {
   background: #800000; /* maroon */
}

/* Position icon right of the link caption. */
.icon-after-caption {
    direction: rtl;
}
/* Add some padding around the icon. */
.icon-after-caption .v-icon {
    padding: 0 3px;
}

}
